name: Generate GitHub Metrics

on:
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: RuoJi6

          template: classic
          base: header, activity, community, repositories

          plugin_languages: yes
          plugin_languages_ignored: html, css
          plugin_languages_details: bytes-size, percentage

          plugin_followup: yes
          plugin_followup_sections: repositories

          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year

          filename: metrics.svg
